services:
  postgres:
    image: postgres
    env_file:
      - .env.local
    ports:
      - "5432:5432"
    volumes:
      - postgres:/var/lib/postgresql
    networks:
      - backbone
  api:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - minio
    env_file:
      - .env.local
    volumes:
      - .:/app
      # - ./uploads:/uploads
    networks:
      - backbone
  minio:
    image: quay.io/minio/minio:latest
    container_name: minio
    env_file:
      - .env.local
    command: server /data --console-address ":9001"
    volumes:
      - minio:/data
    ports:
      - "9000:9000"
      - "9001:9001"
    networks:
      - backbone

volumes:
  postgres:
  minio:

networks:
  backbone:
    driver: bridge